<ion-view view-title="Progressive Web Apps">
  <ion-content class="padding">
    <h2>What Are They?</h2>
    <div class="card">
        <div class="item item-text-wrap">
        <p>Progressive Web Apps are web pages that behave much like phone applications, with the ability to be installed on the user's home screen, send push notifications, and best part of all, no app store required!</p>  
    </div>
      </div>
        <h2>Why Use Them?</h2>
        <div class="card">
        <div class="item item-text-wrap">
        <p>Progressive web apps can be very beneficial because they can be build much easier and faster than native applications. This makes them perfect for small scale projects.</p>
      </div>
      </div>
  </ion-content>
</ion-view>
